.panel-right-container {
    background-color: transparent($surface);
    color: $on-surface;
    transition: 300ms cubic-bezier(0.1, 1, 0, 1);
    min-width: 350px;
}
.panel-right-container-hidden > * {
    transition: 300ms cubic-bezier(0.1, 1, 0, 1);
    opacity: 1;
}

.panel-right-container-hidden {
    min-width: 2px; //2 is the lowest we can go without weird behaviour
}
.panel-right-container-hidden > * {
    opacity: 0;
}

.music-cover {
    border-radius: $rounding;
    background-size: contain;
}

.notification-icon {
    border-radius: $rounding-small;
    background-size: contain;
}
.notification-close-button-container {
    * {
        opacity: 0;
    }

    border-radius: $rounding-medium;
    background-position: 75%;
    transition: 750ms cubic-bezier(0.1, 1, 0, 1);
}
.notification-close-button-container:hover{
    * {
        opacity: 1;
    }

    background-position: 0px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), transparent($surface));
}